{{#bulma-hero isPrimary=true}}
  {{#bulma-hero-content}}
    <h1 class="title">
      Test
    </h1>
    <h2 class="subtitle">
      TEST
    </h2>
  {{/bulma-hero-content}}
{{/bulma-hero}}
{{navbar-component}}

{{#bulma-section}}

  {{#bulma-container}}
  
    {{company-movie-result}}

  {{/bulma-container}}

{{/bulma-section}}
